.hlavicka {
    padding: 150px 30px;
    background-image: url(obrazky/hlavicka.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body {
    background-color:#fff1e6;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #282425;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #756158;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: white;
    margin: 0;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}

h2 {
    font-size: 48px;
    text-align: center;
    margin-top: 0;
}

h3 {
    font-size: 24px;
    margin-top: 36px;
}

a {
    font-style: italic;
    color: #756158;
}

.menu, .footer {
    background-color:#282425;
    color: white;
    text-align: center;
}

.fotogalerie, .kontakt {
    background-color:#f9e3d0;
}

section {
    padding: 50px 15%;
    overflow: auto;
}

.menu {
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px 30px;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: #756158;
}

.footer {
    padding: 20px 0;
}

.foto-omne {
    width: 200px;
    border-radius: 50%;
    float: left;
    margin: 0 30px 30px 0;
}

.fotogalerie img {
    width: 32%;
    border: 0px solid #756158;
    border-radius: 2px;
}

.foto-pruvodce {
    border-radius: 0px 50px 50px 50px;
    float: right;
    margin: 0px 0 30px 30px;
    width: 350px;
}

.foto-kontakt {
    border-radius: 50px 0 50px 50px;
    float: left;
    margin: 0 30px 30px 0;
    width: 350px;
}

table {
    border-spacing: 0;
}

th,
td {
    text-align: left;
    border-bottom: 1px solid black;
    padding: 10px 10px;
}

.cena {
    text-align: right;
    padding-left: 50px;
}

/*
font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;
*/
